{%extends 'dashboard-template.html' %}
<!-- Title Block -->
{%block title %}
<meta content="" name="description" />
<meta content="" name="keywords" />
<title>IP Group - DNSLoader</title>
{%endblock%}

<!-- Sidebar Block -->
{%block sidebar %}
<!-- Set Values -->
{%set tab="ipgroup"%} {%set isLoggedIn=True%} {%set fullname=result.fullname%} {%set username=result.username%} {%set user_role=result.role%}
<!-- Include sidebar -->
{%include "dashboard/profile_sidebar.html"%} {%endblock%}

<!-- Main Block -->
{%block main %}
<section class="section tools-table">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">IP Group</h5>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Group ID</th>
                                <th>Group Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if result%} {%for group in result.group%}
                            <tr>
                                <td data-label="Group ID">{{group[0]}}</td>
                                <td data-label="Group Name">{{group[1]}}</td>
                                <td data-label="Action">
                                    <button type="button" class="search-button1" onclick="editGroup('{{group[1]}}')" data-bs-toggle="modal" data-bs-target="#editModal">
                                        Edit
                                    </button>
                                    <button type="button" class="search-button1" onclick="deleteGroup('{{group[0]}}')" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            {%endfor%} {%endif%}
                        </tbody>
                    </table>
                    <div class="login-b">
                        <button type="button" class="search-button1" data-bs-toggle="modal" data-bs-target="#addModal">Add Group</button>
                    </div>

                    <!-- Add Modal -->
                    {%include "dashboard/ipgroup/ipgroup-add-modal.html"%}
                    <!-- Edit Modal -->
                    {%include "dashboard/ipgroup/ipgroup-edit-modal.html"%}
                    <!-- Delete Modal -->
                    {%include "dashboard/ipgroup/ipgroup-delete-modal.html"%}
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

<!-- Scripts for Page -->
{%block script_down%}
<script>
    function editGroup(group) {
        let oldElement = document.getElementById("old_name");
        oldElement.value = group;
        let newElement = document.getElementById("new_name");
        newElement.value = group;
    }
    function deleteGroup(group) {
        let deleteElement = document.getElementById("delete_group");
        deleteElement.value = group;
    }
</script>
{%endblock%}
