<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('dashboard_ipgroup')}}" method="post" id="ipgroup-add-form">
                <div class="modal-header">
                    <h5 class="modal-title d-flex align-items-center"><i class="bi bi-person-circle fs-3 me-2"></i>Add Group</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Add Group</label>
                        <input type="text" name="group_name" class="form-control shadow-none" />
                    </div>
                    <div class="login-b">
                        <button onclick="handleFormSubWithRecaptcha(event, 'ipgroup-add-form')" class="search-button1" data-bs-toggle="modal" data-bs-target="#addModal">
                            Add Group
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
