<!-- delete group name -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{url_for('delete_ipgroup')}}" method="post" id="ipgroup-delete-form">
                <div class="modal-header">
                    <h5 class="modal-title d-flex align-items-center"><i class="bi bi-person-circle fs-3 me-2"></i>Delete Group</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- input function -->
                    <input type="text" id="delete_group" name="delete_group" class="form-control shadow-none" style="display: none" />

                    <div class="login-b">
                        <button onclick="handleFormSubWithRecaptcha(event, 'ipgroup-delete-form')" class="search-button1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Yes
                        </button>
                        <button style="margin-left: 20px" type="reset" class="search-button1" data-bs-dismiss="modal" aria-label="Close">No</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
