{%extends 'dashboard-template.html' %}
<!-- Title Block -->
{%block title %}
<title>Dashboard Users</title>
<meta content="" name="description" />
<meta content="" name="keywords" />
{%endblock%} {%block sidebar %}
<!-- Set Values -->
{%set tab="users"%}
<!-- Set Value -->
{%set isLoggedIn=True%}{%set fullname=result.fullname%} {%set username=result.username%}{%set user_role=result.role%}
<!-- Main HTML -->
{%include "dashboard/profile_sidebar.html"%} {%endblock%} {%block main %}
<section class="section tools-table">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>

                    <!-- Dark Table -->
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>E-mail</th>
                                <th>Username</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if result%} {%for data in result.result%}
                            <tr>
                                <!-- <td>{{data[0]}}</td> -->
                                <td data-label="First Name">{{data[1]}}</td>
                                <td data-label="Last Name">{{data[2]}}</td>
                                <td data-label="E-mail">{{data[3]}}</td>
                                <td data-label="Username">{{data[5]}}</td>
                                <td data-label="Action">
                                    {%if data[9]==1%}
                                    <button type="button" class="search-button1" onclick="denyUser('{{data[3]}}')" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                                        Delete User
                                    </button>
                                    {%else%}
                                    <button type="button" class="search-button1" onclick="denyUser('{{data[3]}}')" data-bs-toggle="modal" data-bs-target="#denyUserModal">
                                        Deny
                                    </button>
                                    <button type="button" class="search-button1" onclick="approveUser('{{data[3]}}')" data-bs-toggle="modal" data-bs-target="#approveUserModal">
                                        Approve
                                    </button>
                                    {%endif%}
                                </td>
                            </tr>
                            {%endfor%} {%endif%}
                        </tbody>
                    </table>
                    <!-- Approve User Modal -->
                    {%include "dashboard/users/users-approve-modal.html"%}
                    <!-- Deny User Modal -->
                    {%include "dashboard/users/users-deny-modal.html"%}
                    <!-- Delete User Modal -->
                    {%include "dashboard/users/users-delete-modal.html"%}
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
<!-- Scripts -->
{%block script_down%}
<script src="/static/js/scripts/dashboard/users/dashboard-users.js"></script>
{%endblock%}
