<div class="modal fade" id="approveUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="approve-user">
                <div class="modal-header">
                    <h5 class="modal-title d-flex align-items-center"><i class="bi bi-person-circle fs-3 me-2"></i>Approve User</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div>
                            <label class="form-label">Approve User</label>
                        </div>
                    </div>
                    <div class="login-b">
                        <button type="submit" class="search-button1" data-bs-toggle="modal" data-bs-target="#approveUserModal">Okay</button>
                        <button style="margin-left: 20px" type="reset" class="search-button1" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
