{%extends 'dashboard-template.html' %}

<!-- Title Block -->
{%block title %}
<title>User Ips</title>
<meta content="" name="description" />
<meta content="" name="keywords" />
<style>
    input[type="file"] {
        display: none;
    }
</style>

{%endblock%}
<!-- Include sidebar -->
{%block sidebar %}
<!-- Set Values -->
{%set tab="ip"%} {%set isLoggedIn=True%}{%set fullname=result.fullname%} {%set username=result.username%}{%set user_role=result.role%} {%include "dashboard/profile_sidebar.html"%}
{%endblock%}

<!-- Main Block -->
{%block main %}
<section class="section dashboard tools-table">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">IP Table</h5>
                    <table class="styled-table" id="ip-table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>IP Address</th>
                                <th>RDNS</th>
                                <th>Comments</th>
                                <th>IP Group</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if result%} {%for ip in result.Ips %}
                            <tr>
                                <td data-label="Sr. No">{{ip[0]}}</td>
                                <td data-label="IP Address" id="{{ip[1]}}-01" class="tb-detected{{'1' if ip[3] == 'Clean' else ''}}">{{ip[1]}}</td>
                                <td data-label="RDNS" id="{{ip[1]}}-02">{{ip[5]}}</td>
                                <td data-label="Comments">{{ip[6]}}</td>
                                <td data-label="IP Group">{{ip[12]}}</td>
                                <td data-label="Action">
                                    <button type="button" class="search-button1" onclick="editIP('{{ip[1]}}'+'|'+'{{ip[6]}}')" data-bs-toggle="modal" data-bs-target="#editModal">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            {%endfor%} {%endif%}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {%for index in range(result.total_pages)%}
                            <li class="page-item {{'active' if result.page == index+1 else ''}}">
                                <a class="page-link {{'text-white bg-primary' if result.page == index+1 else ''}}" href="{{url_for('dashboard_ip')}}?page={{index+1}}"
                                    >{{index+1}}</a
                                >
                            </li>
                            {%endfor%}
                        </ul>
                    </nav>
                    <div class="login-b">
                        <button type="button" class="search-button1" data-bs-toggle="modal" data-bs-target="#loginModal">Add IP address</button>
                        <div style="margin-left: 15px">
                            <form onsubmit="callFetchIPs(event)" id="fetch-ips-form">
                                <button class="search-button1" onclick="handleFormSubWithRecaptcha(event, 'fetch-ips-form')" id="fetch-ips">Fetch IPs</button>
                            </form>
                        </div>
                        <div style="margin-left: 15px">
                            <form onsubmit="callFetchRdns(event)" id="fetch-rdns-form">
                                <button class="search-button1" onclick="handleFormSubWithRecaptcha(event, 'fetch-rdns-form')" id="fetch-rdns">Fetch RDNS</button>
                            </form>
                        </div>
                    </div>

                    <!-- Add Modal -->
                    {%include 'dashboard/ip/ip-add-modal.html' %}
                    <!-- Edit Modal -->
                    {%include 'dashboard/ip/ip-edit-modal.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

<!-- Scripts Block -->
{%block script_down%}
<script src="/static/js/scripts/dashboard/ip/dashboard-ip.js"></script>
<script>
    const fileInput = document.getElementById("file-upload");
    const fileNameDisplay = document.getElementById("file-name");

    fileInput.addEventListener("change", () => {
        const fileName = fileInput.files[0]?.name || "No file selected";
        fileNameDisplay.textContent = fileName;
    });
</script>
{%endblock%}
