{%extends 'tools-template.html'%}

<!-- Title of Page -->
{%block title%}
<title>Bulk BlackList Check | DNSLoader</title>
<meta
    name="description"
    content="Use our Bulk Blacklist tool to keep an eye on several IPs and domains. Verify blacklist status quickly across major databases to preserve domain reputation and email deliverability."
/>
<meta name="keywords" content="IP blacklist check, bulk blacklist lookup, domain reputation, blacklist databases, email deliverability, bulk blacklist lookup, and IP monitoring" />
{% include 'headlink.html'%} {%endblock%}

<!-- Script of page -->
{%block script%}
<script src="/static/js/scripts/bulkblacklist.js"></script>
<style>
    .spinner {
        border: 3px solid #f3f3f3; /* Light grey */
        border-top: 3px solid #840000; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{%endblock%}

<!-- Form Block -->
{%block form%}
<h2><span>Bulk</span>Blacklist</h2>
<div>
    <div class="search-container slide-up">
        <div class="d-flex justify-content-center">
            <div>
                <button onclick="changeType.bind({type:'bulk'})()" class="tb-button" id="bulk_btn" disabled>Check in range</button>
            </div>
            <div>
                <button onclick="changeType.bind({type:'custom'})()" class="tb-button" id="custom_btn">Custom Check</button>
            </div>
        </div>
        <form id="formtosubmit">
            <div id="bulk" style="display: block">
                <div>
                    <span>First IP Address</span>
                    <input type="text" placeholder="Enter First IP Address" name="ips1" id="ips1" value="" class="search-input" />
                </div>
                <div>
                    <span>Last IP Address</span>
                    <input type="text" placeholder="Enter Last IP Address" name="ips2" id="ips2" value="" class="search-input" />
                </div>
            </div>
            <div id="custom" style="display: none">
                <div class="d-flex justify-content-center">
                    <textarea name="ips" id="ips" rows="10" cols="30" placeholder="One IP per line (limited to 256 IPs)" style="height: 90px"> </textarea>
                </div>
            </div>
            <div class="bulk-blacklist">
                <button id="Submit" type="submit" class="search-button">Check</button>
            </div>
            <div id="loader" class="loader"></div>
        </form>
        <div id="error-message"></div>
    </div>
</div>
{%endblock%}

<!-- Response Table -->
{%block res_table%}
<section id="table" class="table tools-table" style="display: none">
    <div id="bulkblacklist-ajax-table"></div>
</section>
{%endblock%}

<!-- About Section -->
{%block about%}
<!-- If query is found in result -->
<section id="about" class="about section">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-12 d-flex flex-column justify-content-center slide-up">
                <div class="content">
                    <h2>About Bulk Blacklist</h2>
                    <p>
                        The Bulk Blacklist tool allows you to check multiple IP addresses or domains against a comprehensive list of DNS-based blacklists. This service ensures
                        quick identification of any potential blacklist issues, which can affect email deliverability or domain reputation. By running bulk queries, you can
                        efficiently monitor the status of multiple domains or IPs, making it a valuable resource for network administrators and businesses focused on security and
                        email performance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
