{%extends 'tools-template.html' %}

<!-- Title block -->
{%block title%}
<meta
    name="description"
    content="To see and validate DNS records, improve domain security, and resolve DNS problems, instantly execute DNS Lookups. Verify DNS settings to improve online presence and performance."
/>
<meta
    name="keywords"
    content="Domain name system, DNS configuration, DNS lookup, DNS records check, DNS troubleshooting, domain security, and DNS records verification"
/>
<title>DNS Lookup | DNSLoader</title>
{% include 'headlink.html'%} {%endblock%}

<!-- Script block -->
{%block script %}
<script src="/static/js/scripts/dnslookup.js"></script>
{%endblock%}

<!-- Form of page -->
{%block form %}
<h2 data-aos="fade-up" data-aos-delay="100" class=""><span>DNS</span>Lookup</h2>
<div data-aos="fade-up" data-aos-delay="300" class="">
    <div class="search-container">
        <form action="{{ url_for('dnslookup')}}" method="POST">
            <input
                type="text"
                placeholder="Search..."
                name="domain"
                id="domain"
                value="{{ result.query if result.query else '' }}"
                class="search-input"
            />
            <button type="submit" class="search-button">Search</button>
            <div id="loader" class="loader"></div>
        </form>
        <div id="error-message"></div>
    </div>
</div>
{%endblock%}

<!-- Response Table -->
{%block res_table%} {%if result.query%}
<section id="table" class="table">
    <div class="table-contant">
        <div class="table-contant">
            <h4 style="text-align: center">Result for {{result.query}}</h4>
        </div>
    </div>
    {%if result.error %}
    <h4 class="error-message">{{result.error}}</h4>
    {%elif result.domain %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>IP Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for record in result.results %}
            <tr>
                <td>{{result.domain}}</td>
                <td>{{record}}</td>
                <td>
                    <form action="{{url_for('blacklist')}}" method="post">
                        <input type="text" name="ip" value="{{record}}" style="display: none" />
                        <button class="search-button-in" type="submit">blacklist check</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%} {%endif%}
</section>
{%endif%} {%endblock%}

<!-- About Section -->
{%block about%} {%if not result.query%}
<section id="about" class="about section">
    <div class="container" data-aos="fade-up">
        <div class="row gx-0">
            <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h2>About DNS Lookup</h2>
                    <p>
                        DNS records for a domain will be listed in this test's priority order. Changes to DNS Records should take effect
                        immediately because the domain's authoritative name server is the first thing that the DNS lookup looks for. If you
                        provide the DNS lookup tool a name, it will return an IP address by default.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%} {%endblock%}
