<footer id="footer" class="footer">
    <div class="container footer-top">
        <div class="row gy-3">
            <div class="col-lg-6 col-md-8 footer-about">
                <a href="{{url_for('index')}}" class="d-flex align-items-center">
                    <span class="sitename">DNSLoader</span>
                </a>
                <div class="footer-contact pt-3">
                    <p><strong>Email:</strong> <span>contact@dnsloader.com</span></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 footer-links">
                <h4>Our Services</h4>
                <div class="footer-base">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('mxlookup')}}">Mx Lookup</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('blacklist')}}">BlackList</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('bulkblacklist')}}">Bulk BlackList</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('dnslookup')}}">DNS Lookup</a></li>
                    </ul>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('rdnslookup')}}">RDNS</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('whoisfetch')}}">Whois Lookup</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('whatis_myip')}}">What is my IP</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="{{url_for('getsslchecker')}}">SSL Checker</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <h4>Follow Us</h4>
                <div class="social-links d-flex">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">DNSLoader</strong> <span>All Rights Reserved</span></p>
    </div>
</footer>
