{%extends 'tools-template.html' %} {%block title %}

<meta
    name="description"
    content="Greetings from DNSLoader, your one-stop shop for DNS services and tools. To improve your online visibility and security, use extensive capabilities like DNS Lookup, WHOIS Lookup, MX Lookup, SSL Checker, and more."
/>
<meta name="keywords" content="DNSLoader, DNS tools, IP lookup, bulk blacklist, WHOIS lookup, MX lookup, SSL checker, network security, and domain management" />
<title>DNSLoader - Your Gateway to Advanced DNS Tools & Network Security Solutions</title>

{%endblock%} {%block form %}
<h2><span>Mx</span>Lookup</h2>
<div>
    <div class="search-container">
        <form action="{{ url_for('mxlookup')}}" method="post">
            <input type="text" placeholder="Search..." name="domain" class="search-input" />
            <button type="submit" id="Submit" class="search-button">Search</button>
        </form>
    </div>
</div>
{%endblock%} {%block res_table%} {% include 'about.html' %} {% include 'values.html' %} {%endblock%}
