<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Pricing</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        {%include 'headlink.html' %}
        <!-- Main CSS File -->
        <link href="static/css/pricing.css" rel="stylesheet" />
    </head>

    <body class="index-page">
        {%include 'header.html' %}

        <!-- <main class="main"> -->
        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <div class="container d-flex flex-column align-items-center">
                <div class="pricing-table">
                    <div class="pricing-title">
                        <h2>Pricing</h2>
                    </div>
                    <div class="plans-container">
                        <!-- Plan 1 -->
                        <div class="plan">
                            <div class="badge mb-3">Best Value</div>
                            <h3>Basic Plan</h3>
                            <p class="price">$9.99 <span>/ month</span></p>
                            <button class="btn">Choose Plan</button>
                            <ul>
                                <li><i class="bi bi-check-all"></i> 500 ip addition</li>
                                <li><i class="bi bi-check-all"></i> fetching 500 ips for balcklist</li>
                                <li><i class="bi bi-check-all"></i> blacklist of single ip over 40 providers</li>
                            </ul>
                        </div>
                        <!-- Plan 2 -->
                        <div class="plan highlighted">
                            <div class="badge">Popular</div>
                            <h3>Standard Plan</h3>
                            <p class="price">$19.99 <span>/ month</span></p>
                            <button class="btn">Choose Plan</button>
                            <ul>
                                <li><i class="bi bi-check-all"></i> 1000 ip addition</li>
                                <li><i class="bi bi-check-all"></i> fetching 1000 ips for balcklist</li>
                                <li><i class="bi bi-check-all"></i> blacklist of single ip over 50 providers</li>
                            </ul>
                        </div>
                        <!-- Plan 3 -->
                        <div class="plan">
                            <h3>Premium Plan</h3>
                            <p class="price">$49.99 <span>/ month</span></p>
                            <button class="btn">Choose Plan</button>
                            <ul>
                                <li><i class="bi bi-check-all"></i> 1500 ip addition</li>
                                <li><i class="bi bi-check-all"></i> fetching 1500 ips for balcklist</li>
                                <li><i class="bi bi-check-all"></i> blacklist of single ip over 60 providers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Hero Section -->
        <!-- </main> -->

        {%include 'footer.html' %} {%include 'scripts.html'%}
    </body>
</html>
