{%extends 'tools-template.html'%}
<!-- Title of page -->
{%block title%}
<title>RDNS Lookup | DNSLoader</title>
<meta
    name="description"
    content="To find domain names linked to IP addresses, run a Reverse DNS (RDNS) Lookup. Accurate RDNS mapping improves email deliverability and fortifies security."
/>
<meta name="keywords" content="IP address lookup, domain verification, network security, email deliverability, reverse DNS mapping, RDNS lookup, and reverse DNS check" />
{% include 'headlink.html'%} {%endblock%}

<!-- Script of page -->
{%block script%}
<script>
    function validate(event) {
        event.preventDefault();
        if (!document.getElementById("ip").value) {
            alert("You must add text to the required field");
        } else {
            window.formid = "rdns-form";
            grecaptcha.execute();
        }
    }
</script>
{%endblock%}

<!-- Form of Page -->
{%block form%}
<h2><span>RDNS</span> Lookup</h2>
<div>
    <div class="search-container slide-up {{'searched' if result.fetched else ''}}">
        <form action="{{url_for('rdnslookup')}}" method="post" id="rdns-form" style="display: flex; align-items: center; gap: 10px; position: relative">
            <input type="text" placeholder="Enter the IP address" name="ip" id="ip" value="{{ result.ip if result.ip else '' }}" class="search-input" />
            <button type="submit" id="Submit" class="search-button">Search</button>
            <div id="loader" class="loader"></div>
        </form>
        <div id="error-message"></div>
    </div>
</div>
{%endblock%}

<!-- Response Table -->
{%block res_table%} {%if result.ip%}
<section id="table" class="table tools-table">
    <div class="table-contant">
        {%if result.ip%}
        <h4>Result for IP {{result.ip}}</h4>
        {%endif%}
    </div>
    {%if result.error %}
    <h4 class="error-message">{{result.error}}</h4>
    {% elif result.ip %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Host Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if result.ip %}
            <tr>
                <td data-label="IP Address">{{result.ip}}</td>
                <td data-label="Host Name">{{result.result}}</td>
                <td>
                    <form action="{{url_for('blacklist')}}" method="post">
                        <input type="text" name="ip" value="{{result.ip}}" style="display: none" />
                        <button class="search-button-in" type="submit">blacklist check</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif%}
</section>
{% endif%} {%endblock%}

<!-- About Section -->
{%block about%} {%if not result.ip%}
<section id="about" class="about section">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-12 d-flex flex-column justify-content-center slide-up">
                <div class="content">
                    <h2>About RDNS</h2>
                    <p>
                        The RDNS (Reverse DNS) Lookup tool helps you determine the domain name associated with an IP address by performing a reverse DNS query. This is essential
                        for verifying email server configurations, ensuring proper domain-IP mapping, and enhancing security. By using RDNS Lookup, you can quickly troubleshoot
                        issues related to email deliverability and confirm that your server's IP address resolves to a valid domain name, contributing to trust and credibility in
                        online communications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%} {%endblock%}
