<!-- Vendor JS Files -->
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Main JS File -->
<script src="static/js/main.js"></script>
<script src="static/js/dashboard.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const elements = document.querySelectorAll(".slide-up"); // Select elements with 'slide-up' class
        const observer = new IntersectionObserver(
            (entries, observer) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("active"); // Add 'active' class when element is in view
                        observer.unobserve(entry.target); // Stop observing once the element is revealed
                    }
                });
            },
            {
                threshold: 0.1, // Trigger when 10% of the element is visible
            },
        );

        if (elements) {
            elements.forEach((element) => {
                observer.observe(element); // Start observing each element
            });
        }
    });
</script>
