<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Login</title>
        {% include 'headlink.html'%}
        <script src="static/js/scripts/auth/login.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body class="index-page">
        {%set isLoggedIn=False%} {%include 'dashboard/profile_sidebar.html'%}
        <main class="main">
            <!-- Hero Section -->
            <section id="hero" class="hero section">
                <div class="container d-flex flex-column align-items-center slide-up">
                    <form id="loginForm" class="mx-auto border p-5 bg-white mt-4 rounded" method="post" action="{{url_for('login')}}">
                        <h2 class=""><span>Log</span>in</h2>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username or Email</label>
                            <input type="text" class="form-control" name="username" required autocomplete="username" />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required autocomplete="current-password" />
                        </div>
                        {%if result%} {{result.error}} {%endif%}
                        <div class="login-b">
                            <button type="submit" id="Submit" class="search-button1">Login</button>
                        </div>
                        <div class="mt-2 d-flex justify-content-center">
                            Not registered?<a class="ms-2" href="{{url_for('registration')}}"> Create account</a>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>
        <div
            class="g-recaptcha"
            data-callback="onSubmit"
            data-size="invisible"
            data-sitekey="6Lf1ZE4qAAAAAE-NSbeNBav3idxGjxYheBiFvlOk"
        ></div>
        {%include "footer.html"%} {%include 'scripts.html'%}
    </body>
</html>
