<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <!-- <a href="index.php" class="logo d-flex align-items-center me-auto"> -->
        <a href="{{url_for('index')}}" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">DNS<span>Loader</span></h1>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('mxlookup')}}"> Mx Lookup </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('dnslookup')}}"> DNS Lookup </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('rdnslookup')}}"> RDNS </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('blacklist')}}"> Blacklist </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('bulkblacklist')}}"> Bulk Blacklist </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('whoisfetch')}}"> Whois Lookup </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('whatis_myip')}}"> What is my iP </a>
            </li>
            <li class="nav-item pe-3 d-none d-md-block ps-2">
                <a class="nav-p d-flex align-items-center pe-0" href="{{url_for('getsslchecker')}}"> SSL Checker </a>
            </li>

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle" href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <!-- End Search Icon-->

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{username}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{fullname}}</h6>
                        <span>{{username}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{url_for('dashboard_profile')}}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.php">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.php">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{url_for('logout')}}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
                <!-- End Profile Dropdown Items -->
            </li>
            <!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
{%if isLoggedIn%}
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link {%if not tab=='profile' %}collapsed {%endif%}" href="{{url_for('dashboard_profile')}}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {%if not tab=='ip' %}collapsed {%endif%}" href="{{url_for('dashboard_ip')}}">
                <i class="bi bi-globe"></i>
                <span>IP</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {%if not tab=='ipgroup' %}collapsed {%endif%}" href="{{url_for('dashboard_ipgroup')}}">
                <i class="bi bi-card-list"></i>
                <span>IP Groups</span>
            </a>
        </li>
        {%if user_role == 'admin' %}
        <li class="nav-item">
            <a class="nav-link {%if not tab=='users' %}collapsed {%endif%}" href="{{url_for('dashboard_users')}}">
                <i class="bi bi-person"></i>
                <span>Users</span>
            </a>
        </li>
        {%endif%}
    </ul>
</aside>
{%endif%}
